# Ignore everything by default
/*

# Except the following directories
!/build/
!/src/
!/tests/
!/gui/

# Except documentation files
!README.md
!PROGRESS_NARRATIVE.md

# And except this file
!.gitignore
